@model reservas_de_salas.Models.Reserva


@{
    ViewData["Title"] = "Detalhes da Reserva";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID:</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Usuário:</dt>
        <dd class="col-sm-10">@Model.Usuario.Email</dd>

        <dt class="col-sm-2">Sala:</dt>
        <dd class="col-sm-10">@Model.Sala.Nome</dd>

        <dt class="col-sm-2">Data da Reserva:</dt>
        <dd class="col-sm-10">@Model.Data.ToShortDateString()</dd>

        <dt class="col-sm-2">Hora de Início:</dt>
        <dd class="col-sm-10">@Model.HoraInicio.ToString(@"hh\:mm")</dd>

        <dt class="col-sm-2">Hora de Término:</dt>
        <dd class="col-sm-10">@Model.HoraFim.ToString(@"hh\:mm")</dd>

        <dt class="col-sm-2">Número de Pessoas:</dt>
        <dd class="col-sm-10">@Model.NumeroPessoas</dd>
    </dl>

</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar para a lista</a>
</p>